<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../resources/css/index-style.css">
    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../resources/files/pics/logo.png"
    />
    <script src="../resources/js/index-js.js"></script>
    <title> Bank</title>
  </head>
  <body>
    <header id="header">
      <section>
        <div id="brand"><h1> Unity Bank</h1></div>
        <div id="buttons">
          <input
            type="button"
            value="Login"
            onclick="window.location.href='login.html'"
          />
          <input
            type="button"
            value="Create Account"
            onclick="window.location.href='create.html'"
          />
        </div>
        <div id="clear"></div>
      </section>
    </header>

    <main>
      <section id="nura-bank">
        <div class="container">
          <div class="left">
            <h2>Unity Bank</h2>
            <p>
              Unity Bank is an online-only bank that provides a range
              of financial services like checking and savings accounts and other
              financial products to its clients. Our Unity bank provides
              affordability, convenience, and control of your finances without
              traditional banking hassles.
            </p>
          </div>
          <div class="right">
            <img src="../resources/files/pics/card2.png" alt="Photo" />
          </div>
        </div>
      </section>
      <hr id="middle-line" />
      <section id="nura-bank">
        <div class="container">
          <div class="left">
            <h2>About Us</h2>
            <p>
              Hello I"m Nikhil , I understand the critical importance of robust, scalable, and compliant digital platforms in today's banking landscape. Myself dedicated developers, designers, and strategists combines industry expertise with technological prowess to build solutions that not only meet but exceed our clients' expectations.
                <br><br>
                Team: Xtreme Dev
                <br><br>
                Team Leader: Nikhil R

            
            </p>
        
        </div>
    </main>

    <footer>
      <section id="social-media">
        <div class="container">
          <div class="social-icons">
            <a href="https://github.com/Nikhil-CloudX?tab=repositories"
              ><img src="../resources/files/pics/icons8-github.svg" alt="github"
            /></a>
            <a href="#"
              ><img src="../resources/files/pics/facebook.svg" alt="Facebook"
            /></a>
            <a href="www.linkedin.com/in/
            nikhil-ramesh-099739202
            "><img src="../resources/files/pics/icons8-linkedin.svg" alt="LinkedIn" /></a>
            <a href="#"
              ><img src="../resources/files/pics/instagram.svg" alt="Instagram"
            /></a>
          </div>
        </div>
      </section>
    </footer>
  </body>
</html>
